$phones: 480px;
$tablets: 768px;
$laptops: 976px;
$desktops: 1200px;
$largeDesktops: 1440px;

$colorBackground: #1e293b;
$colorScrollbarTrack: #1e293b;
$colorScrollbarThumb: #334155;
$scrollbarSize: 16px;